<h1>Oficinas registradas</h1>
<% @lista_oficinas.each do |oficina| %>
    <p> <%= oficina.codigo %> </p>
    <p> <%= oficina.precio %> </p>   

    <% if oficina.esta_alquilada %>
        <span>Alquilado por: </span>
        <ul>
            <% oficina.inquilinos.each do |inquilino| %>
                <li>  
                    <%= inquilino.nombre + " " + inquilino.apellido %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p> DISPONIBLE </p>
    <% end %>

    <hr>
<% end %>
